body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #89D96D;
  padding: 0;
  margin: 0;

}
label {
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 5px;
}
input {
  cursor: pointer;
}
.highlighted label {
  background-color: #fff;
}

h1 {
  background-color: #FFF;
  box-sizing: border-box;
  padding: 0.5 1em;
  border: 0 solid #999999;
  border-width: 10px 0 10px 0;
  display: flex;
  align-items: center;
}
h1 img {
  margin: 0 1em;
}

.experiment,
h1 ~ article {
  padding: 1em;
  margin: 1em;
  background-color: #FFF;
  border: 10px solid #999999;
  max-width: 60em;
  position: relative;
}

.experiment:before,
.experiment:after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: #999999;
}
.experiment:before {
  left: -1em;
  top: -1em;
}
.experiment:after {
  bottom: -1em;
  right: -1em;
}

.experiment h3 {
  margin-top: 0;
}

.experiment article {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  max-width: 50em;
}
.experiment article .sample {
  width: 20em;
  border: 2px solid #AAA;
  box-sizing: border-box;
  padding: 1em;
  margin-right: 1em;
  word-wrap: break-word;
}
.experiment article .sample button {
  margin-right: 1em;
}
.experiment article .description {
  width: 20em;
  margin-bottom: 1em;
}

pre {
  display: inline;
}
